<div class="my__footer my__flex footer__bg">
    <div class="center__container my__flex__start">
        <div class="footer__left">
            <h6 style="margin-bottom: 15px">Film data gently provided by TMDb Api</h6>
            <h6>Help when needed gently provided by Susana</h6>
        </div>
        <div class="footer__right">
            <h6 style="margin-bottom: 15px">By: Javier Valiente</h6>
           <ol>
               <li><a href=" https://github.com/JavierVRM"><img src="../../../assets/images/25231.svg" alt=""></a> </li>
               <li style="margin-left: 10px">
           <a href="https://www.linkedin.com/in/javiervalienteramos/"><img src="../../../assets/images/linke.png" alt=""></a></li>
        </ol>
        </div>
    </div>
</div>
