<div class="my__header ">
  <h3>BROWSE</h3>
  <hr>
</div>
<div class="my__browse my__flex__between">
  <ul class="ul__horizontal ">
    <li>
      <div class="my__flex">
        <h3 class="no__margin__bottom">By Title</h3>
          <input type="text" [(ngModel)]="byName">
          <a [routerLink]="['/api/movies/title', byName]">Lupa</a>
      </div>
    </li>

    <li>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          By Genre
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Action']">Action</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Adventure']">Adventure</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Animation']">Animation</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Comedy']">Comedy</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Crime']">Crime</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Documentary']">Documentary</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Drama']">Drama</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Fantasy']">Fantasy</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Horror']">Horror</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Music']">Music</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Mystery']">Mystery</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Romance']">Romance</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Science Fiction']">Science Fiction</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Thriller']">Thriller</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/War']">War</a>
          <a class="dropdown-item" [routerLink]="['/api/movies/genre/Western']">Western</a>
        </div>
      </div>
    </li>
    <li>
      <div class="my__flex">
        <h3 class="no__margin__bottom">By Year</h3>
        <input class="year__input"  type="text" [(ngModel)]="byYear">
          <a [routerLink]="['/api/movies/year', byYear]">Lupa</a>
      </div>
    </li>
  </ul>
</div>
