<div class="home__bg min__height">
  <div class="center__container__inner">
      <app-browse></app-browse>
    <div class="my__header ">
      <h3>GENRE</h3>
      <hr>
    </div>
    <div class="movies__header my__flex similar__movies">
      <div *ngFor="let movie of pageOne">
        <a [routerLink]="['/api/movies',movie.id]">
          <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}">
        </a>
      </div>
      <div *ngFor="let movie of pageTwo">
        <a [routerLink]="['/api/movies',movie.id]">
          <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}">
        </a>
      </div>
      <div *ngFor="let movie of pageThree">

        <a [routerLink]="['/api/movies',movie.id]">
          <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}">
        </a>
      </div>
      <div *ngFor="let movie of pageFour">

        <a [routerLink]="['/api/movies',movie.id]">
          <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}">
        </a>
      </div>
      <div *ngFor="let movie of pageFive">

        <a [routerLink]="['/api/movies',movie.id]">
          <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}">
        </a>
      </div>
    </div>
  </div>
</div>
